---
import pkg from '../../package.json';
import { version } from 'astro/package.json';
import { cfg } from "../config";
---
<center><div class="footer">
    <div><b>© {cfg.copyrightyear} {cfg.name}</b></div>
    <br>
    <div><b><a href={cfg.sourcecode}>{pkg.name}</a></b> running on Astro {version}</div>
    <div>Source code of this website is licensed under <a href={cfg.licenseurl}>{cfg.license}</a></div>
    <div>Website designed with 💜 by <a href="https://avery.is-a.dev">Avery</a>, based on <a href="https://github.com/AveryEclipse/averyeclipse.github.io">AveryWebsite</a>!</div>
    <noscript><br>⚠️&nbsp;<i>JavaScript is disabled, some website functionality may be limited</i>&nbsp;⚠️</noscript>
</div></center>