---
interface Props {
	title: string;
	head?: string;
	desc: string;
}
const { title, head, desc } = Astro.props;
const heading = head || title;
import { cfg } from "../config";
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:site_name" content={cfg.name} />
        <meta property="og:image" content={cfg.favicon} />
        <meta name="title" content={title} />
		<meta name="description" content=`The official website of ${cfg.name}!` />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="icon" type="image/svg+xml" href={cfg.favicon} />
		<title>{title} ~ {cfg.name}</title>
	</head>
	<body>
		<div class="content">
        <div class="navbar logo">
            <a href="/"><img src={cfg.logo} alt={cfg.name}></a>
        </div>
		<div class="box">
         <div>
			<div class="desc">
               <div set:html={desc}></div>
            </div>
		<slot />
		</div>
        <aside>
            <slot name="footer">
            <Footer />
            </slot>
        </aside>
		</div>
		</div>
	</body>
</html>
