---
interface Props {
	title: string;
	head?: string;
	desc: string;
	showRssButton?: boolean;
	hideFooter?: boolean;
}
const { title, head, desc, showRssButton = false, hideFooter = false } = Astro.props;
const heading = head || title;
import { d } from "../config.ts";
import { Icon } from 'astro-icon/components';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:site_name" content=`${d.name}` />
        <meta property="og:image" content=`${Astro.site}${d.favicon}`>
        <meta name="title" content={title} />
		<meta name="description" content=`The official website of ${d.name}!` />
		<link rel="icon" type="image/svg+xml" href=`https://${d.domain}${d.favicon}` />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<title>{title} ~ {d.name}</title>
	</head>
	<body>
		<div class="content">
        <div class="navbar">
    <center><div class="center"><div id="logo"></div></div></center>
</div>
		<div class="box">
         <div>
			<div class="desc">
			   <div>
               <div set:html={desc}></div>
			   </div>
            </div>
		<slot />
		</div>
		{ !hideFooter && (
		<Footer />
		)}
		</div>
		</div>
	</body>
</html>
